<connectionStrings>
  <add name="DefaultConnection" 
       connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApp-20210108033126.mdf;Initial Catalog=aspnet-WebApp-20210108033126;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name ="ChinookDb"
       connectionString="Data Source=STEVEPOPIK-PC\SQLEXPRESS;Initial Catalog=Chinook;Integrated Security=true"
       providerName="System.Data.SqlClient"/>
</connectionStrings>
